<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tarzan.reptile.mapper.PlatformDao">

    <insert id="insertUnique" parameterType="com.tarzan.reptile.entity.PlatformEntity">
    insert into t_plat_form (fake_id, nickname, alias,round_head_img,service_type)
    SELECT #{fakeId}, #{nickname}, #{alias},#{roundHeadImg},#{serviceType}
    FROM t_plat_form WHERE NOT EXISTS (SELECT id FROM  t_plat_form WHERE nickname = #{nickname})
</insert>

    <insert id="insertList">
        insert into t_plat_form (fake_id, nickname, alias,round_head_img,service_type)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.fakeId}, #{item.nickname}, #{item.alias}, #{item.roundHeadImg}, #{item.serviceType})
        </foreach>
        ON DUPLICATE KEY UPDATE
        nickname=values(nickname)
    </insert>


</mapper>